
body {
	font-family: Cambria;
	font-size: 12;
	background-color: #e2e1e0;
}

#clear {
    clear: both;
}
.wrapper{
  margin: 0 auto;
  width: 1000px;
}

table {
  text-align: left;
  width:99%;
  height: 99%;
  border-spacing: 10px 0.5rem;
  font-size: 16px;
}
td {
  padding-right: 15px
}

img 
{
    max-width: 100%;
    max-height: 100%;
}
.font {
  color: #9daec9;
  font-weight: bold;
}
.font2 {
  text-align: center;
}

.cards {
  border-radius: 2px;
  display: inline-block;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 5px;
  text-align: center;
  
}
.topcard {
	width: 99.9%;
	height: 19px;
	background: #9daec9;
	text-align: center;
	color: white;
	margin-bottom: 5px;

}

.card-left {
  width: 270px;
  background: #fff;
  float: left;
  position: fixed;
  
}

.card-right {
  width: 700px;
  background: #fff;
  float: right;
  margin-bottom: 10px;
}

